{% extends 'adminapp/admin_base.html' %}
{% block context %}
            <div class="container-fluid">
                <h1 class="mt-4">Цитаты</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Цитаты
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Название</th>
                                    <th>Автор</th>
                                    <th>Текст</th>
                                    <th>Активность</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Название</th>
                                    <th>Автор</th>
                                    <th>Текст</th>
                                    <th>Активность</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for quote in quotes %}
                                    <tr>
                                        <td>{{ quote.id }}</td>
                                        <td><a href="{% url 'adminapp:admin_quote_update' quote.id %}" style="color: dodgerblue">{{ quote.name }}</a></td>
                                        <td>{{ quote.author }}</td>
                                        <td>{{ quote.text }}</td>
                                        <td>{{ quote.is_active }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'adminapp:admin_quote_create' %}">
                            <button class="btn btn-success">Добавить цитату</button>
                        </a>
                    </div>
                </div>
            </div>
{% endblock %}