{% extends 'mainapp/extends/base.html'%}
{% block  content %}
<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
                    <span class="item">Корзина</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="colored">
                    <h1 class="page-title">Корзина</h1>
                </div>
            </div>
        </div>
    </div>
</div><!--site-banner-->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Книга</th>
                    <th>Автор</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Книга джунглей</td>
                    <td>Редьярд Киплинг</td>
                    <td>
                        <div class="form-group">
                            <input type="number" class="form-control" id="count" value="2">
                        </div>
                    </td>
                    <td>40.00 ₽</td>
                    <td>
                        <a href="#" class="btn-black">Удалить<i class="icon"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h1 class="page-title">Итого</h1>
                    </div>
                    <div class="col-md-4">
                        <h3 class="page-title">40.00 ₽</h3>
                    </div>
                </div>
            </div>
            <button class="btn btn-accent btn-pill btn-xlarge btn-full">Оформить заказ</button>
        </div>

    </div>
</div>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}