{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
                    <span class="item">Каталог</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="colored">
                    <h1 class="page-title">Каталог</h1>
                </div>
            </div>
        </div>
    </div>
</div><!--site-banner-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 v-divider">
                <div class="col-md-12">
                    <div class="colored">
                        <h2>Поиск</h2>
                    </div>
                    <form method="get" class="search-box" action="{% url 'search_result' %}">
                        <input name="q" value="{{ request.GET.q }}"
                               class="search-field text search-input col-md-12 col-sm-12 col-xs-12" placeholder="Search"
                               type="search">
                    </form>
                </div>

                <div class="col-md-12">
                    <div>
                        <h2 style="margin: 15px 0;">Сортировка</h2>
                        <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                            <button class="{% if o_field == 'name' %} btn-text  {% else %} btn-text-f {% endif %}" name="sort" value="name">
                                <li>По названию</li>
                            </button>
                        </form>

                        <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                            <button class="{% if o_field == 'date_receipt' %} btn-text  {% else %} btn-text-f {% endif %}" name="sort" value="date_receipt">
                                <li>По дате</li>
                            </button>
                        </form>

                        <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                            <button class="{% if o_field == 'price' %} btn-text  {% else %} btn-text-f {% endif %}" name="sort" value="price">
                                <li>По цене</li>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="colored">
                        <h2>Фильтр</h2>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <label class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed btn-wrap" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="false"
                                                    aria-controls="collapseOne">
                                                Жанр
                                            </button>
                                        </label>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne">
                                            <div class="accordion-body">
                                                <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                                                    <button class="{% if f_filed == 'all' %} btn-text  {% else %} btn-text-f {% endif %}" name="filt" value="all">
                                                        <li>Все</li>
                                                    </button>
                                                </form>

                                                <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                                                    <button class="{% if f_filed == 'Сказки' %} btn-text  {% else %} btn-text-f {% endif %}" name="filt" value="Сказки">
                                                        <li>Сказки</li>
                                                    </button>
                                                </form>

                                                <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                                                    <button class="{% if f_filed == 'Научное' %} btn-text  {% else %} btn-text-f {% endif %}" name="filt" value="Научное">
                                                        <li>Научное</li>
                                                    </button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="accordion" id="accordionExample1">
                                    <div class="accordion-item">
                                        <label class="accordion-header" id="headingOne1">
                                            <button class="accordion-button collapsed btn-wrap" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne1" aria-expanded="false"
                                                    aria-controls="collapseOne1">
                                                Автор
                                            </button>
                                        </label>
                                        <div id="collapseOne1" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne1">
                                            <div class="accordion-body">
                                                <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                                                    <button class="{% if f_filed == 'all' %} btn-text  {% else %} btn-text-f {% endif %}" name="filt" value="all">
                                                        <li>Все</li>
                                                    </button>
                                                </form>

                                                <form style="height: 30px;" method="get" action="{% url 'catalog' %}">
                                                    <button class="{% if f_filed == 'Стругацкие'%} btn-text  {% else %} btn-text-f {% endif %}" name="filt" value="Стругацкие">
                                                        <li>Стругацкие</li>
                                                    </button>
                                                </form>

                                                <form style="height: 30px;" method="het" action="{% url 'catalog' %}">
                                                    <button class="{% if f_filed == 'Киплинг'%} btn-text {% else %} btn-text-f {% endif %}" name="filt" value="Киплинг">
                                                        <li>Киплинг</li>
                                                    </button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-xlarge btn-accent btn-full">Показать
                            </button>
                        </div>
                </div>

            </div>
            <div class="col-md-9">

                {% include 'mainapp/includes/goods_card.html'%}
                {% include 'mainapp/includes/pagination.html'%}
            </div>

        </div>
    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}