{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}
<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}


</div><!--header-wrap-->

<section id="billboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>

                <div class="main-slider pattern-overlay">
                    {% for book in books %}
                    {% if book.id < 3 %}
                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">{{ book.name }}</h2>
                            <p>{{ book.description }}</p>
                            <div class="btn-wrap">
                                <a href="{% url 'product_detail' book.id %}" class="btn btn-outline-accent btn-accent-arrow">Подробности<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>
                        <img src="{{ book.foto.url }}" href="{% url 'product_detail' book.id %}" alt="banner" class="banner-image" width="400" height="500" style="margin: auto;">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div><!--slider-->

                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>

            </div>
        </div>
    </div>

</section>

<section id="featured-books">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Последние поступления</span>
                    </div>
                    <h2 class="section-title">Популярное</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        {% for book in books %}
                        {% if book.id < 5 %}
                        <div class="col-md-3">
                            <figure class="product-style">
                                <a href="{% url 'product_detail' book.id %}"><img src="{{ book.foto.url }}" alt="Books" class="product-item"></a>
                                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart
                                </button>
                                <figcaption>
                                    <a href="{% url 'product_detail' book.id %}"><h3>{{ book.name }}</h3></a>
                                    <p>{{ book.author }}</p>
                                    <div class="item-price">{{ book.price }} ₽</div>
                                </figcaption>
                            </figure>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!--					<div class="col-md-3">-->
                        <!--						<figure class="product-style">-->
                        <!--							<img src="{% static 'images/product-item1.jpeg' %}" alt="Books" class="product-item">-->
                        <!--								<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>-->
                        <!--							<figcaption>-->
                        <!--								<h3>Сборник</h3>-->
                        <!--								<p>Стругацкие</p>-->
                        <!--								<div class="item-price">40.00 ₽</div>-->
                        <!--							</figcaption>-->
                        <!--						</figure>-->
                        <!--					</div>-->

                        <!--					<div class="col-md-3">-->
                        <!--						<figure class="product-style">-->
                        <!--							<img src="{% static 'images/product-item2.jpg' %}" alt="Books" class="product-item">-->
                        <!--								<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>-->
                        <!--							<figcaption>-->
                        <!--								<h3>Шесть спичек</h3>-->
                        <!--								<p>Стругацкие</p>-->
                        <!--								<div class="item-price">38.00 ₽</div>-->
                        <!--							</figcaption>-->
                        <!--						</figure>-->
                        <!--					</div>-->

                        <!--					<div class="col-md-3">-->
                        <!--						<figure class="product-style">-->
                        <!--							<img src="{% static 'images/product-item3.jpg' %}" alt="Books" class="product-item">-->
                        <!--								<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>-->
                        <!--							<figcaption>-->
                        <!--								<h3>Путь на Амальтею</h3>-->
                        <!--								<p>Стругацкие</p>-->
                        <!--								<div class="item-price">45.00 ₽</div>-->
                        <!--							</figcaption>-->
                        <!--						</figure>-->
                        <!--					</div>-->

                        <!--					<div class="col-md-3">-->
                        <!--						<figure class="product-style">-->
                        <!--							<img src="{% static 'images/product-item4.jpg' %}" alt="Books" class="product-item">-->
                        <!--								<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>-->
                        <!--							<figcaption>-->
                        <!--								<h3>Сказка о тройке</h3>-->
                        <!--								<p>Стругацкие</p>-->
                        <!--								<div class="item-price">35.00 ₽</div>-->
                        <!--							</figcaption>-->
                        <!--						</figure>-->
                        <!--					</div>-->

                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="{% url 'catalog' %}" class="btn-accent-arrow">Каталог<i class="icon icon-ns-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="quotation" class="align-center">
    <div class="inner-content">
        <h2 class="section-title divider">Цитата дня</h2>
        <blockquote data-aos="fade-up">
            <q>“Больше всего мне хочется стать таким человеком, который сумел бы сделать мир немного лучше.”</q>
            <div class="author-name">Эрленд Лу, "Наивно. Супер"</div>
        </blockquote>
    </div>
</section>


<section id="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Последние новости</span>
                    </div>
                    <h2 class="section-title">Наши новости</h2>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up">

                            <figure>
                                <a href="{% url 'new_detail' %}" class="image-hvr-effect">
                                    <img src="{% static 'images/post-img1.jpg' %}" alt="post" class="post-image">
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">Март 30, 2020</div>
                                <h3><a href="{% url 'new_detail' %}">Новые поступления в жанре детских сказок!</a></h3>

                                <div class="links-element">
                                    <div class="categories"></div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-down">
                            <figure>
                                <a href="{% url 'new_detail' %}" class="image-hvr-effect">
                                    <img src="{% static 'images/post-img2.jpg' %}" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Март 29, 2021</div>
                                <h3><a href="{% url 'new_detail' %}">Состоялась творческая встреча с писателем!</a></h3>

                                <div class="links-element">
                                    <div class="categories"></div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up">
                            <figure>
                                <a href="{% url 'new_detail' %}" class="image-hvr-effect">
                                    <img src="{% static 'images/post-img3.png' %}" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Март 27, 2022</div>
                                <h3><a href="{% url 'new_detail' %}">Мартовская распродажа!</a></h3>

                                <div class="links-element">
                                    <div class="categories"></div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>

                </div>

                <div class="row">

                    <div class="btn-wrap align-center">
                        <a href="{% url 'news' %}" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Читать
                            все новости<i class="icon icon-ns-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% include 'mainapp/includes/footer.html'%}

{% endblock %}