{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
                    <span class="item">Вход</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4">
                <div class="col-md-12">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <label class="u-full-width text-center">Логин</label>
                            <!--input class="u-full-width" placeholder="Логин" required-->
                            {{ form.username }}
                            <label class="u-full-width text-center">Пароль</label>
                            {{ form.password }}
                            <!--input class="u-full-width" type="password" name="password" autocomplete="current-password"
                                   required="" id="id_password" placeholder="Пароль" required>
                            <i class="far fa-eye" id="togglePassword"
                               style="margin-left: -30px; padding-top: 10px; cursor: pointer;"></i-->
                            <a class="text-center u-full-width" href="{% url 'registration' %}">Зарегистрироваться</a>
                        </div>
                        <input class="button-primary col-md-12" type="submit" value="Войти">
                    </form>

                </div>
            </div>
        </div>
</section>

{% include 'mainapp/includes/footer.html'%}

{% endblock %}