{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Рабочий кабинет /</a></span>
                    <span class="item">Редактирвоание новости</span>
                </div>
            </div>
        </div>
    </div>
</section>



{% include 'mainapp/includes/footer.html'%}

{% endblock %}