{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}

<div id="header-wrap">

	{% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="index.html">Главная страница /</a></span>
                    <span class="item">Регистрация</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4">

                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-center">Имя</label>
                            <input class="u-full-width" placeholder="Имя">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Фамилия</label>
                            <input class="u-full-width" placeholder="Фамилия">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Пол</label>
                            <div class="custom-control custom-radio col-md-3 offset-md-2">
                                <input type="radio" id="male" name="customRadioButton" class="custom-control-input">
                                <label for="male" class="custom-control-label">Мужской</label>
                            </div>
                            <div class="custom-control custom-radio col-md-3 offset-md-2">
                                <input type="radio" id="female" name="customRadioButton" class="custom-control-input">
                                <label for="female" class="custom-control-label">Женский</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Возраст</label>
                            <div class="form-group">
                                <input type="number" class="form-control" id="age">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Адрес</label>
                            <input class="u-full-width" placeholder="Адрес">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Телефон</label>
                            <input class="u-full-width" placeholder="Телефон">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Электронная почта</label>
                            <input class="u-full-width" placeholder="Электронная почта">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Логин</label>
                            <input class="u-full-width" placeholder="Логин">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Пароль</label>
                            <input class="u-full-width" placeholder="Пароль">
                        </div>
                        <div class="col-md-12">
                            <label class="text-center">Введите пароль еще раз</label>
                            <input class="u-full-width" placeholder="Пароль">
                        </div>
                        <div class="col-md-12">
                            <label>
                                <input type="checkbox" required>
                                <span class="label-body">Я согласен с <a href="{% url 'rules' %}">правилами сайта</a></span>
                            </label>
                        </div>
                    </div>


                    <input class="button-primary col-md-12" type="submit" value="Зарегистрироваться">
                </form>

            </div>
        </div>
    </div>
</section>

{% include 'mainapp/includes/footer.html'%}

{% endblock %}