{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">
	
	{% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}
		
</div><!--header-wrap-->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs">
					<span class="item"><a href="index.html">Главная страница /</a></span>
					<span class="item">Информация для посетителей</span>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="colored">
						<h2 class="page-title">Правила оплаты</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="chief-detail padding-large">
	<div class="container">
		<div class="row">
			<div class="single-image col-md-12">
				<p>Оплатить заказ можно только наличными.</p>
				<p>При оплате выдается чек установленного образца.</p>

			</div>
		</div>
	</div>
</section>




{% include 'mainapp/includes/footer.html'%}

{% endblock %}