{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">
	
	{% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}
		
</div><!--header-wrap-->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs">
					<span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
					<span class="item">Рабочий кабинет</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
                                <div class="col-md-6"><div class="col-md-6">
                        <a href="search_list.html"><button type="button" class="btn btn-accent btn-full">Список запросов</button></a>
                    </div>
                                    <div class="col-md-6">
                        <a href="order_list.html"><button type="button" class="btn btn-accent btn-full">Список заказов</button></a>
                    </div>
            		</div></div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Список запросов</h2>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
<table class="u-full-width">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Дата</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="search_detail.html" class="nav-link"
                                    >1</a></td>
                                    <td>29.05.2021</td>
                                    <td>В обработке</td>

                                </tr>

                                </tbody>
                            </table>
	</div>
</section>




{% include 'mainapp/includes/footer.html'%}

{% endblock %}