{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs">
					<span class="item"><a href="index.html">Главная страница /</a></span>
					<span class="item">Каталог</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <a href="#" class="product-image"><img src="{% static 'images/main-banner2.jpg' %}"></a>
            </div>

            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1>Книга Джунглей</h1>
                    <p>Редьярд Киплинг</p>
                    <span class="price colored">40.00 ₽</span>

                    <p>
                        «Книга джунглей» – бессмертное произведение великого английского писателя Редьярда Киплинга. В
                        настоящее издание включены три из семи рассказов «Книги джунглей» – о жизни и приключениях
                        мальчика Маугли, выросшего в волчьей стае и сумевшего победить страшного тигра Шер Хана.

                        Необычайно выразительные иллюстрации Квентина Гребана переносят читателя в фантастический мир
                        этой удивительной книги.
                    </p>

                    <button type="submit" name="add-to-cart" value="27545" class="button">Добавить в корзину</button>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <section class="comments-wrap mb-4">
                    <h3>Отзывы</h3>
                    <div class="comment-list mt-4">

                        <article class="flex-container d-flex mb-3">
                            <div class="author-post">
                                <div class="comment-meta d-flex">
                                    <h4>Дядя Степа</h4>
                                    <span class="meta-date">Декабрь 2,2022</span>
                                </div><!--meta-tags-->

                                <p>Хорошая книга</p>
                            </div>

                        </article><!--flex-container-->

                    </div><!--comment-list-->

                </section>

                <section class="comment-respond  mb-5">
                    <h3>Оставьте отзыв</h3>
                    <form method="post" class="form-group mt-3">



                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="u-full-width" id="comment" class="form-control mb-4" name="comment"
                                          placeholder="Текст" rows="20"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input class="btn btn-rounded btn-large btn-full" type="submit" value="Отправить">
                            </div>
                        </div>

                    </form>
                </section>

            </div>
        </div>
    </div>
</section>

{% include 'mainapp/includes/footer.html'%}

{% endblock %}