<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4">

				<div class="footer-item">
					<div class="company-brand">
						<img src="static/images/main-logo.png" alt="logo" class="footer-logo">
						<p>Книги для души и тела!</p>
					</div>
				</div>

			</div>

			<div class="col-md-2">

				<div class="footer-menu">
					<h5>САЙТ</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="{% url 'index' %}">ГЛАВНАЯ СТРАНИЦА</a>
						</li>
						<li class="menu-item">
							<a href="{% url 'catalog' %}">КАТАЛОГ</a>
						</li>
						<li class="menu-item">
							<a href="{% url 'news' %}">НОВОСТИ</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-md-2">

				<div class="footer-menu">
					<h5>АККАУНТ</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="profile.html">ВОЙТИ</a>
						</li>
						<li class="menu-item">
							<a href="cart.html">КОРЗИНА</a>
						</li>
						<li class="menu-item">
							<a href="#">ЛИЧНЫЙ КАБИНЕТ</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-md-2">

				<div class="footer-menu">
					<h5>ПОМОЩЬ</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="{% url 'about' %}">О НАС</a>
						</li>
						<li class="menu-item">
							<a href="{% url 'contacts' %}">КОНТАКТЫ</a>
						</li>
					</ul>
				</div>

			</div>

		</div>
		<!-- / row -->

	</div>
</footer>

<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>© 2023 Все права защищены.</p>
						</div>

						<div class="col-md-6">
							<div class="social-links align-right">
								<ul>
									<li>
										<a href="#"><i class="icon icon-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-youtube-play"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
</div>