<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="#"><i class="icon icon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon icon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon icon-youtube-play"></i></a>
                        </li>

                    </ul>
                </div><!--social-links-->
            </div>
            <div class="col-md-8">
                <div class="right-element">
                        {% if user.is_authenticated %}
                            {% if user.in_group == 'Moderator' %}
                                <a href="{% url 'm_profile' %}" class="user-account for-buy"><i
                                        class="icon icon-user"></i><span>Модератор</span></a>
                            {% endif %}
                            {% if user.in_group == 'Seller' %}
                                <a href="{% url 's_profile' %}" class="user-account for-buy"><i
                                        class="icon icon-user"></i><span>Продавец</span></a>
                            {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'sellerapp:admin_main' %}" class="user-account for-buy"><i
                                class="fas fa-users-cog"></i><span>Админ панель</span></a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="user-account for-buy"><i
                                class="icon icon-user"></i><span>Личный кабинет</span></a>
                        <a href="{% url 'cart' %}" class="cart for-buy"><i
                                class="icon icon-clipboard"></i><span>Корзина</span></a>
                        <a href="{% url 'logout' %}" class="cart for-buy"><i
                                class="icon icon-clipboard"></i><span>Выйти</span></a>
                        {% else %}
                        <a href="{% url 'login' %}" class="cart for-buy"><i
                                class="icon icon-clipboard"></i><span>Войти</span></a>
                        {% endif %}
                    <div class="action-menu">
                        <div class="search-bar">
                            <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                <i class="icon icon-search"></i>
                            </a>
                            <form method="get" class="search-box" action="{% url 'search_result' %}">
                                <input name="q" value="{{ request.GET.q }}" class="search-field text search-input" placeholder="Search" type="search">
                            </form>
                        </div>
                    </div>

                </div><!--top-right-->
            </div>

        </div>
    </div>
</div><!--top-content-->


