<div class="row justify-content-center align-items-center mt-3 mb-n3">
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                                     href="?page=1">Начало</a></li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
            {% endif %}
            {% for item in page_obj.paginator.page_range %}
            <li class="page-item
        {% if item == page_obj.number %}active">
                <a class="page-link" href="?page={{ item }}">{{ item }}</a>
            </li>
            {% elif item > page_obj.number|add:'-2' and item < page_obj.number|add:'2' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ item }}">{{ item }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                                     href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ page_obj.paginator.num_pages }}">Конец</a></li>
            {% endif %}
        </ul>
    </nav>
</div>