{% extends 'mainapp/extends/base.html'%}
{% block  content %}
<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
                    <span class="item">Корзина</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="colored">
                    <h1 class="page-title">Корзина</h1>
                </div>
            </div>
        </div>
    </div>
</div><!--site-banner-->

{% include 'basketapp/includes/basket.html'%}

{% include 'mainapp/includes/footer.html'%}

{% endblock %}