{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'profile' %}">Личный кабинет /</a></span>
                    <span class="item">Карточка запроса</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Карточка запроса</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Номер заказа</label>
                    </div>
                    <div class="col-md-4">
                        <span class="text">{{ request.id }}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Дата заказа</label>
                    </div>
                    <div class="col-md-4">
                        <span class="text">{{ request.create_date }}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Статус</label>
                    </div>
                    <div class="col-md-4">
                        <span class="text">{{ request.status }}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Текст запроса</label>
                    </div>
                    <div class="col-md-8">
                        <p>{{ request.text }}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}