{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
                    <span class="item">Рабочий кабинет модератора</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Имя</label>
                        </div>
                        <div class="col-md-4">
                            {{ user.first_name }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Фамилия</label>
                        </div>
                        <div class="col-md-4">
                            {{ user.last_name }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Телефон</label>
                        </div>
                        <div class="col-md-4">
                            {{ user.telephone }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Логин</label>
                        </div>
                        <div class="col-md-4">
                            {{ user.username }}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a href="{% url 'products_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список книг</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'news_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список новостей</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'quotes_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список цитат</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}