{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'products_list' %}">Список книг /</a></span>
                    <span class="item">Карточка книги</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Название</label>
                        </div>
                        <div class="col-md-12">
<!--                            <span class="text">Книга Джунглей</span>-->
                            {{ book.name }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Автор</label>
                        </div>
                        <div class="col-md-12">
<!--                            <span class="text">Редьярд Киплинг</span>-->
                            {{ book.author }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Артикул</label>
                        </div>
                        <div class="col-md-12">
<!--                            <span class="text">123456</span>-->
                            {{ book.article }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Дата поступления</label>
                        </div>
                        <div class="col-md-12">
<!--                            <span class="text">29.03.2023</span>-->
                            {{ book.date_receipt }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Жанр</label>
                        </div>
                        <div class="col-md-12">
<!--                            <span class="text">Сказки</span>-->
                            {{ book.category }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Описание</label>
                        </div>
                        <div class="col-md-12">
                            {{ book.description }}
<!--                            <p>-->
<!--                        «Книга джунглей» – бессмертное произведение великого английского писателя Редьярда Киплинга. В-->
<!--                        настоящее издание включены три из семи рассказов «Книги джунглей» – о жизни и приключениях-->
<!--                        мальчика Маугли, выросшего в волчьей стае и сумевшего победить страшного тигра Шер Хана.-->

<!--                        Необычайно выразительные иллюстрации Квентина Гребана переносят читателя в фантастический мир-->
<!--                        этой удивительной книги.-->
<!--                    </p>-->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Цена</label>
                        </div>
                        <div class="col-md-12">
<!--                            <span class="text">40.00 ₽</span>-->
                            {{ book.price }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="text">Изображение</label>
                        </div>
                        <div class="col-md-12">
                            <figure>
                                <div class="col-md-12">
                                    <a href="#" class="product-image"><img src="{{ book.foto.url }}"></a>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <a href="{% url 'product_edit' book.id %}">
                                <button type="button" class="btn btn-accent btn-full">Редактировать</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'product_delete' book.id %}">
                                <button type="button" class="btn btn-accent btn-full">Удалить</button>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}