{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'index' %}">Главная страница /</a></span>
                    <span class="item">Новости</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1 class="page-title">{{ new.name}}</h1>

            </div>
            <div class="col-md-4">

                <article class="column" data-aos="fade-up">

                    <figure>
                        <a class="image-hvr-effect">
                            <img src="{{ new.foto.url }}" alt="post" class="post-image">
                        </a>
                    </figure>

                </article>

            </div>
        </div>
        <div class="post-content">
            <p>{{ new.date_create}}</p>
            <p>{{ new.text}}</p>
        </div><!--post-content-->

    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}