{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'm_profile' %}">Рабочий кабинет /</a></span>
                    <span class="item">Новости</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a href="{% url 'products_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список книг</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'news_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список новостей</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'quotes_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список цитат</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Список новостей</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a href="{% url 'new_create' %}">
                        <button type="button" class="btn btn-xlarge btn-outline-accent btn-pill btn-full">Создать
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row accordion-item">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="colored">
                        <h2>Поиск</h2>
                    </div>
                    <form role="search" method="get" class="search-box">
                        <input class="search-field text search-input" placeholder="Search" type="search">
                    </form>
                </div>

                <div class="col-md-3">
                    <div class="colored">
                        <h2>Сортировка</h2>
                    </div>
                    <ul>
                        <li>По порядку</li>
                        <li>По названию</li>
                        <li>По дате</li>
                    </ul>
                </div>



            </div>
        </div>
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Дата новости</th>
                <th>Название</th>
                <th>Краткое содержание</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% if news %}
                {% for item in news %}
                    <tbody>
                    <tr>
                        <td class="page-item active"><a href="{% url 'm_new_detail' item.id %}" class="page-link nav-link"
                        >{{ item.id }}</a></td>
                        <td>{{ item.date_create }}</td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a href="{% url 'new_edit' item.id %}" class="btn-black">Редактировать<i class="icon"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'new_delete' item.id %}" class="btn-black">Удалить<i class="icon"></i></a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% else %}
                <tbody>
                    <tr>
                        <td>----</td>
                        <td>----</td>
                        <td>----</td>
                        <td>----</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    </div>
</section>
<section>
<div class="row justify-content-center align-items-center mt-3 mb-n3">
  <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}