{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs">
					<span class="item"><a href="index.html">Главная страница /</a></span>
					<span class="item">Каталог</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <a href="#" class="product-image"><img src="{{ book.foto.url }}"></a>
            </div>

            <div class="col-md-6 pl-5">
                <div class="product-detail card_add_basket">
                    <h1>{{ book.name }}</h1>
                    <p>Автор: {{ book.author }}</p>
                    <p>Жанр: {{ book.category }}</p>
                    <span class="price colored">Цена: {{ book.price }}</span>

                    <p>
                        Описание: {{ book.description }}
                    </p>

                    <button id='add-to-cart-button' type="button" class="add-to-cart" data-product-tile="add-to-cart" value="{{ book.id }}">Добавить в корзину</button>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <section class="comments-wrap mb-4">
                    <h3>Отзывы</h3>
                    <div class="comment-list mt-4">

                        <article class="flex-container d-flex mb-3">
                            <div class="author-post">
                                <div class="comment-meta d-flex">
                                    <h4>Дядя Степа</h4>
                                    <span class="meta-date">Декабрь 2,2022</span>
                                </div><!--meta-tags-->

                                <p>Хорошая книга</p>
                            </div>

                        </article><!--flex-container-->

                    </div><!--comment-list-->

                </section>

                <section class="comment-respond  mb-5">
                    <h3>Оставьте отзыв</h3>
                    <form method="post" class="form-group mt-3">



                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="u-full-width" id="comment" class="form-control mb-4" name="comment"
                                          placeholder="Текст" rows="20"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input class="btn btn-rounded btn-large btn-full" type="submit" value="Отправить">
                            </div>
                        </div>

                    </form>
                </section>

            </div>
        </div>
    </div>
</section>

{% include 'mainapp/includes/footer.html'%}

{% endblock %}