{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'products_list' %}">Список книг /</a></span>
                    <span class="item">Редактирование</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <form action="{% url 'product_edit' book.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Название</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <input class="u-full-width" placeholder="Название" value="Книга Джунглей">-->
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Автор</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <input class="u-full-width" placeholder="Автор" value="Редьярд Киплинг">-->
                                {{ form.author }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Артикул</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <input class="u-full-width" placeholder="Артикул" value="123456">-->
                                {{ form.article }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Дата поступления</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <div class="md-form md-outline input-with-post-icon datepicker">-->
                                <!--                                <input placeholder="Select date" type="date" id="example" class="form-control" value="2018-10-27">-->
                                <!--                            </div>-->
                                {{ form.date_receipt }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Жанр</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.category }}
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Описание</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Цена (₽)</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <div class="form-outline" style="width: 22rem;">-->
                                <!--                                <input step="0.01" value="40.00" type="number" id="typeNumber"-->
                                <!--                                       class="form-control form-icon-trailing"/>-->
                                <!--                            </div>-->
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Изображение</label>
                            </div>
                            <div class="col-md-12">
                            <figure>
                                <div class="col-md-12">
                                    <a href="#" class="product-image"><img src="{{ book.foto.url }}"></a>
                                </div>
                            </figure>
                        </div>
                            <div class="col-md-12">
                                {{ form.foto }}
                                <!--                            <input class="u-full-width" placeholder="Название файла" value="main-banner2.jpg">-->
                            </div>
                            <!--                        <div class="col-md-12">-->
                            <!--                            <figure>-->
                            <!--                                <div class="col-md-12">-->
                            <!--                                    <a href="#" class="product-image"><img src="{{ form.foto.url }}"></a>-->
                            <!--                                </div>-->
                            <!--                            </figure>-->
                            <!--                        </div>-->
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-accent btn-full">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}