{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'products_list' %}">Список книг /</a></span>
                    <span class="item">Создание</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        {% if form.errors %}
            <div class="row">
                <div class="col-md-12 offset-md-12 col-sm-12 offset-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Ошибка заполнения формы</p>
                        {{ form.errors }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <form action="{% url 'product_create' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Название</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Автор</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.author }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Артикул</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.article }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Дата поступления</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.date_receipt }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Жанр</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Описание</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Цена (₽)</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Изображение</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.foto }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <a href="{% url 'product_create' %}">
                                    <button type="submit" class="btn btn-accent btn-full">Сохранить</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}