{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'm_profile' %}">Рабочий кабинет /</a></span>
                    <span class="item">Книги</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a href="{% url 'products_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список книг</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'news_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список новостей</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'quotes_list' %}">
                        <button type="button" class="btn btn-accent btn-full">Список цитат</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Список книг</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <a href="{% url 'product_create' %}">
                        <button type="button" class="btn btn-xlarge btn-outline-accent btn-pill btn-full">Создать
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row accordion-item">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="colored">
                        <h2>Поиск</h2>
                    </div>
                    <form method="get" class="search-box" action="{% url 'products_list' %}">
                        <input name="b_q" value="{{ request.GET.b_q }}"
                               class="search-field text search-input col-md-12 col-sm-12 col-xs-12" placeholder="Search"
                               type="search">
                    </form>
                    {% if m_b_field == '' %}{% else %}
                    <span>Найдено совпадений : {{ num }}</span>
                    <span>Запрос: "{{ m_b_field }}"</span>
                    <form style="height: 30px;" method="get" action="{% url 'products_list' %}">
                        <button class= "btn-text" name="stop_search" value="stop">
                                Отменить поиск
                        </button>
                    </form>
                    {% endif %}

                </div>

                <div class="col-md-3">
                    <div class="colored">
                        <h2>Сортировка</h2>
                        <form style="height: 30px;" method="get" action="{% url 'products_list' %}">
                            <button class="{% if b_o_field == 'date_create' %} btn-text  {% else %} btn-text-f {% endif %}" name="b_sort" value="date_create">
                                <li>По номеру</li>
                            </button>
                        </form>
                        <form style="height: 30px;" method="get" action="{% url 'products_list' %}">
                            <button class="{% if b_o_field == 'name' %} btn-text  {% else %} btn-text-f {% endif %}" name="b_sort" value="name">
                                <li>По названию</li>
                            </button>
                        </form>
                        <form style="height: 30px;" method="get" action="{% url 'products_list' %}">
                            <button class="{% if b_o_field == 'author' %} btn-text  {% else %} btn-text-f {% endif %}" name="b_sort" value="author">
                                <li>По автору</li>
                            </button>
                        </form>
                        <form style="height: 30px;" method="get" action="{% url 'products_list' %}">
                            <button class="{% if b_o_field == 'price' %} btn-text  {% else %} btn-text-f {% endif %}" name="b_sort" value="price">
                                <li>По цене</li>
                            </button>
                        </form>
                    </div>
                </div>



            </div>
        </div>
        <table class="u-full-width">
            <thead>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Автор</th>
                <th>Стоимость</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            {% for book in page_obj.object_list %}
            <tbody>
            <tr>
                <td class="page-item active"><a href="{% url 'm_product_detail' book.id %}" class="page-link nav-link"
                ></a></td>
                <td><a href="{% url 'm_product_detail' book.id %}"
                >{{ book.name }}</a></td>
                <td>
                    {{ book.author }}
                </td>
                <td>{{ book.price }} ₽</td>
                <td>
                    <a href="{% url 'product_edit' book.id %}" class="btn-black">Редактировать<i class="icon"></i></a>
                </td>
                <td>
                    <a href="{% url 'product_delete' book.id %}" class="btn-black">Удалить<i class="icon"></i></a>
                </td>

            </tr>

            </tbody>
            {% endfor %}

        </table>
    </div>
</section>
{% include 'mainapp/includes/pagination.html'%}


{% include 'mainapp/includes/footer.html'%}

{% endblock %}