{% extends 'mainapp/extends/base.html'%}
{% load static %}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'quotes_list' %}">Список цитат /</a></span>
                    <span class="item">Создание</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-large">
    <div class="container">
        {% if form.errors %}
            <div class="row">
                <div class="col-md-12 offset-md-12 col-sm-12 offset-sm-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>Ошибка заполнения формы</p>
                        {{ form.errors }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <form action="{% url 'quote_create' %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Название</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <input class="u-full-width" placeholder="Название">-->
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Автор</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <input class="u-full-width" placeholder="Автор">-->
                                {{ form.author }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Содержание</label>
                            </div>
                            <div class="col-md-12">
                                <!--                            <textarea class="u-full-width" name="message" placeholder="Описание" style="height: 150px;"-->
                                <!--                                      required></textarea>-->
                                {{ form.text }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="text">Активный</label>
                            </div>
                            <div class="col-md-12">
                                {{ form.is_active }}
                                <!--                            <div class="form-check form-check-inline">-->
                                <!--                                <input class="form-check-input" type="checkbox"-->
                                <!--                                       id="inlineCheckbox1" value="option1"/>-->
                                <!--                                <label class="form-check-label"-->
                                <!--                                       for="inlineCheckbox1">Активировать</label>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-accent btn-full">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}