{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">
	
	{% include 'mainapp/includes/header.html'%}
	{% include 'mainapp/includes/menu.html'%}
		
</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="order_list.html">Рабочий кабинет /</a></span>
                    <span class="item">Карточка заказа</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Карточка заказа</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Номер заказа</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text">{{ order.pk }}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Дата заказа</label>
                        </div>
                        <div class="col-md-4">
                            <span class="text">{{ order.create_date }}</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="text">Статус</label>
                        </div>
                        <div class="col-md-4">
                        <select class="u-full-width" id="exampleRecipientInput">
                            <option value="Option 1">ожидает обработки</option>
                            <option value="Option 2">в обработке</option>
                            <option value="Option 3">ожидает отгрузки</option>
                            <option value="Option 4">закрыт</option>
                        </select>
                    </div>
                    </div>
                </div>
            </div>
        <div class="col-md-12">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Книга</th>
                    <th>Автор</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if baskets %}
                    {% for basket in baskets %}
                        <tr>
                            <td>{{ basket.book.name }}</td>
                            <td>{{ basket.book.author }}</td>
                            <td>{{ basket.quantity }}</td>
                            <td>{{ basket.book.price }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>----</td>
                        <td>----</td>
                        <td>----</td>
                        <td>----</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h1>Итого</h1>
                    </div>
                    <div class="col-md-4">
                        <h1>{{ order.sum }} ₽</h1>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




{% include 'mainapp/includes/footer.html'%}

{% endblock %}