{% extends 'mainapp/extends/base.html'%}
{% block  content %}


<div id="header-wrap">

    {% include 'mainapp/includes/header.html'%}
    {% include 'mainapp/includes/menu.html'%}

</div><!--header-wrap-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="item"><a href="{% url 'search_list' %}">Рабочий кабинет /</a></span>
                    <span class="item">Карточка запроса</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Карточка запроса</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Номер заказа</label>
                    </div>
                    <div class="col-md-4">
                        <span class="text">1</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Дата заказа</label>
                    </div>
                    <div class="col-md-4">
                        <span class="text">29.05.2021</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="text">Статус</label>
                    </div>
                    <div class="col-md-4">
                        <select class="u-full-width" id="exampleRecipientInput">
                            <option value="Option 1">ожидает обработки</option>
                            <option value="Option 2">в обработке</option>
                            <option value="Option 3">ожидает отгрузки</option>
                            <option value="Option 4">закрыт</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label class="text">Текст запроса</label>
            </div>
            <div class="col-md-10">
                <p>Мне нужна книга про маугли из коллекционного издания.</p>
            </div>
        </div>

    </div>
</div>


{% include 'mainapp/includes/footer.html'%}

{% endblock %}